@font-face {
    font-family: Roboto;
     src: url("/fonts/Roboto.ttf");
    }

@font-face {
    font-family: Roboto;
     src: url("/fonts/WorkSans-Italic-VariableFont_wght.ttf");
    }

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .photo-header {
      width: 20%;
  }

  h1 {font-size: 40px;
  }

  .container {
    width: 1440px;
    margin: 0 auto;
  }
  section {
      width: 720px;
      padding-left: 260px;
      padding-right: 180px;

  }
 .header {
     text-align: center;
 }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
  
 
    .icon {
         width: 80px;
         height: 80px;
            
    }
    .section {
        font-size: 20px;
        display: flex;
        justify-content: space-between;
    }
    h2 {
        font-size: 30px;
        color: rgb(131, 129, 129);
    }
   
    .rss_logo {
        width: 100%;
    }

    .github_logo {
        width: 100%;
    }

    .footer {
        padding-top: 100px;
        margin-left: 190px;
        width: 1000px;
        height: 200px;
        display: flex;
        justify-content: space-around;
    }

    .rsschool {
        width: 100px;
        height: 50px;
    }

    .githublink {
        width: 50px;
        height: 50px;
    }

    .year {
        font-size: 30px;
    }

    .udemy {
        text-decoration: none;
    }

    .rss_logo {
        width: 100px;
    }
    
    a {
        text-decoration: none;
        color: black;
    }